.banner {
    transform: translateY(-80px);
    .banner-inner {
        display: flex;
        flex-direction: row;
        border: 1px solid $desciption;
        .banner-left {
            width: 33.3333%;
            img {
                height: 50%;
                width: 100%;
                object-fit: cover;
            }
            &-content {
                background: #fff;
                height: 50%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                text-align: center;
                img {
                    height: 65px;
                    width: 65px;
                    object-fit: contain;
                }
                .banner-title {
                    padding-top: 20px;
                    font-size: 18px;
                    font-weight: bold;
                    text-transform: uppercase;
                }
                .banner-description {
                    color: $desciption;
                    padding-top: 20px;
                }
            }
        }
        .banner-center {
            width: 33.3333%;
            img {
                height: 50%;
                width: 100%;
                object-fit: cover;
            }
            &-content {
                background: #fff;
                height: 50%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                text-align: center;
                img {
                    height: 60px;
                    width: 60px;
                }
                .banner-title {
                    font-size: 18px;
                    font-weight: bold;
                    padding-top: 20px;
                    text-transform: uppercase;
                }
                .banner-description {
                    color: $desciption;
                    padding-top: 20px;
                }
            }
        }
    }
}

.top-selling {
    &-inner { 
    transform: translateY(-28px);
        .selling-title {
            display: flex;
            font-weight: bold;
            font-size: 16px;
            text-transform: uppercase;
            li {
                list-style-type: none;
                a {
                    padding:20px;
                    display: block;
                    padding-bottom: 10px;
                    position: relative;
                    margin-right: 10px;
                }
                a::after {
                    content: "";
                    height: 3px;
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    background: transparent;
                }
            }
            li.active a::after {
                background: red;
            }
            
        }
        .selling-products {
            margin-top: 18px;
            margin: 0 -15px;
            display: flex;
            flex-wrap: wrap;
            cursor: pointer;
            .selling-items {
                position: relative;
                width: 24%;
                height: 333px;
                .item {
                    display: flex;
                    img {
                        position: absolute;
                        height: 192px;
                        width: 162px;
                        top: 19px;
                        left: 55px;
                    }
                    .selling-icons {
                        opacity: 0;
                        top: 20px;
                        right: 20px;
                        position: absolute;
                        display: flex;
                        flex-direction: column;
                        i {
                            color: $desciption;
                            line-height: 35px;
                            text-align: center;
                            border: 1px solid $desciption;
                            height: 35px;
                            width: 35px;
                            margin-top: 20px;
                            border-radius: 10px 0 10px 0 ;
                        }
                        i:hover {
                            background: red;
                            color: #fff;
                        }
                    }
                    .selling-icons.active {
                        opacity: 1;
                    }
                    .selling-icons:hover {
                        opacity: 1;
                    }

                }
                .item-title {
                    position: absolute;
                    top: 260px;
                    left: 30px;
                    font-weight: 500;
                    font-size: 14px;
                }
                .item-price {
                    position: absolute;
                    top: 280px;
                    left: 30px;
                    font-weight: bold;
                }
            }
    }
    .selling-items:hover {
        border: 1px solid $desciption
    }
}
}

.newsletter {
    .newsletter-title {
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 50px;
        text-align: center;
    }
    .newsletter-inner {
        text-align: center;
        img {
            height: 90px;
            width: 90px;
            object-fit: cover;
            object-position: center;
            border-radius: 50%;
            margin: auto;
        }
        .newsletter-description {
            margin-top: 15px;
            font-size: 18px;
            color: $desciption;
            width: 760px;
            margin: auto;
            margin-top: 17px;
        }
        .name {
            text-transform: uppercase;
            font-weight: bold;
            margin-top: 40px;
            font-size: 18px;
        }
        .name-description {
            margin-top: 7px;
            color: $desciption;
            margin-bottom: 23px;
        }
        .slick-dots li.slick-active button:before {
            opacity: .75;
            color: red;
        }
        .slick-dots li button:before {
            font-size: 10px;
        }
        .slick-prev{
            display: none;
        }
        .slick-next {
            display: none;
        }
        .button {
            display: none;
        }
    }
}

.brands {
    .brands-inner {
        border-top: 1px solid $desciption;
        margin-top: 120px;
        display: flex;
        flex-direction: row;
        .brand {
            width: 16.6666%;
            text-align: center;
            padding: 40px 0;
            padding-bottom: 38px;
            img {
                height: 75px;
                width: 130px;
            }
        }
    }
}