// flexbox
@mixin flex() {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-row() {
    display: flex;
    flex-direction: row;
}

// transform
@mixin tranform($scale) {
    transform: $scale;
    -webkit-transform: $scale;
    -moz-transform: $scale;
    -ms-transform: $scale;
    -o-transform: $scale;
}

// transition
@mixin transit($attr, $sec) {
    transition: $attr, $sec;
    -webkit-transition: $attr, $sec;
    -moz-transition: $attr, $sec;
    -ms-transition: $attr, $sec;
    -o-transition: $attr, $sec;
}